<ui-gmap-google-map center="map.center" options="options" zoom="map.zoom" bounds="map.bounds">
  <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position" ></ui-gmap-search-box>
  <ui-gmap-drawing-manager options="drawingManagerOptions" control="drawingManagerControl" events="events"></ui-gmap-drawing-manager>
  <ui-gmap-markers models="bathrooms" coords="'self'" icon="'icon'">
  </ui-gmap-markers>
  <ui-gmap-markers models="currentLocation" coords="'self'"  icon="'icon'">
  </ui-gmap-markers>
</ui-gmap-google-map>





